<!DOCTYPE html>
<html lang="en">
<head>

  <script src="/js/custom.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
          integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
          crossorigin="anonymous"></script>

</head>

<body>

<div style="margin-left: 50px; margin-top: 20px; margin-right: 100px">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Contact info editor</h3>
    </div>

    <div class="panel-body">


      <form class="form-horizontal">

        <div id="emailError" class="">
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="email">
              <p id="emailErrorTxt">&nbsp;</p>
            </div>
          </div>
        </div>

        <div id="firstNameError" class="">
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Firstname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName" placeholder="firstName">
              <p id="firstNameErrorTxt">&nbsp;</p>
            </div>
          </div>
        </div>

      </form>

      <div class="panel">
        <div class="panel-body">
          <button id="button" type="button" class="btn btn-primary">Add contact</button>
          <button id="button2" type="button" class="btn btn-primary">Test</button>
        </div>
      </div>

      <script>

          function setFormFieldError(fieldName, isError, errorText) {
              const containerDiv = "#".concat(fieldName.concat("Error"));
              const messageP = "#".concat(fieldName.concat("ErrorTxt"));

              console.log('containerDiv', containerDiv);
              console.log('messageP', messageP);

              if (isError === true) {
                  console.log('set error');
                  $(containerDiv).addClass("has-error");
                  $(messageP).html(errorText);
              } else {
                  console.log('clear error');
                  $(containerDiv).removeClass("has-error");
                  $(messageP).html(errorText);
              }
          }


          $("#button").click(
              function () {
                  console.log("click!");
                  setFormFieldError('email', true, 'Invalid name!');
//                  $("#passwdError").addClass("has-error");
//                  custom_test_alert();
              }
          );

          $("#button2").click(
              function () {
                  console.log("click!2");
                  setFormFieldError('email', false, '&nbsp;');
//                  $("#passwdError").addClass("has-error");
//                  custom_test_alert();
              }
          );

          $("form :input").change(function () {
              let form = $(this).closest('form');
              console.log('Changed: ', form);
          });

      </script>


    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contact List</h3>
      </div>

      <div class="panel-body">


        <table class="table table-striped">
          <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Mobile</th>
          </tr>

          <!--        <tr>
                    <td colspan="5">
                      <i>empty</i>
                    </td>
                  </tr>
          -->
          <tr>
            <td>
              foo@bar
            </td>
            <td>
              first
            </td>
            <td>
              last
            </td>
            <td>
              address 1
            </td>
            <td>
              0434304 43 43
            </td>

          </tr>


          <tr>
            <td>
              foo@bar2
            </td>
            <td>
              first2
            </td>
            <td>
              last2
            </td>
            <td>
              address 122
            </td>
            <td>
              220434304 43 43
            </td>

          </tr>
        </table>
      </div>

    </div>

  </div>

</body>
</html>
